In [ ]:
3+5

8

# **파이썬 실습 #1**
* 작성일: 2025년 3월 12일(수)
* 작성자: 2025010111 김고려

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print(0.1+5)
print(5-7)
print(10.2-2)
print(6*8)
print(-3*5)
print(3.14*2)
print(10/5)
print(7/3)
print(4.2/2)

5.1
-2
8.2
48
-15
6.28
2.0
2.3333333333333335
2.1

In [ ]:
print('0.1+5 =', 0.1+5)
print('5-7=', 5-7)
print('6*8=',6*8)
print('7/3=',7/3)
print('7%3=', 7%3)

0.1+5 = 5.1
5-7= -2
6*8= 48
7/3= 2.3333333333333335
7%3= 1

In [ ]:
print("It's up to you!")
print('"Me!" he said.')
print('"I\'m your energy!"')

It's up to you!
"Me!" he said.
"I'm your energy!"

In [ ]:
# 주석달기 연습
print(10+7)
print(10-7)
print(10*7)
print(10/7) # 나누기 몫 계산
print(10%7) # 나누기 나머지 계산

17
3
70
1.4285714285714286
3

In [ ]:
"""
여러 줄 주석달기 연습
/ 연산자: 나누기 몫 계산
% 연산자: 나누기 나머지 계산
"""
print(10/7)
print(10%7)

1.4285714285714286
3

In [1]:
print(type("안녕하세요"))

<class 'str'>

In [2]:
print(type(322))

<class 'int'>

In [3]:
print(type(3.14))

<class 'float'>

In [4]:
print(""안녕하세요"라고 말하기")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-4-cd246eebb17c>, line 1)

In [5]:
print('"안녕하세요"라고 말하기')
print("'안녕하세요'라고 말하기")

"안녕하세요"라고 말하기
'안녕하세요'라고 말하기

In [6]:
print("\"안녕하세요\"라고 말하기")
print('\'안녕하세요\'라고 말하기')

"안녕하세요"라고 말하기
'안녕하세요'라고 말하기

In [7]:
print('안녕하세요.\n좋은 아침입니다.')
print('안녕하세요.\t좋은 아침입니다.')
print('역슬래시를 출력하고 싶다면 \\')

안녕하세요.
좋은 아침입니다.
안녕하세요.	좋은 아침입니다.
역슬래시를 출력하고 싶다면 \

In [8]:
print(10+7)
print(10-7)
print(10*7)
print(10/7)
print(10%7)

17
3
70
1.4285714285714286
3

In [9]:
# 변수의 필요성
x = 10
y = 7
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

17
3
70
1.4285714285714286
3

In [10]:
pi = 3.14159265
print(pi)

3.14159265

In [11]:
a = 10
b = 20
print(a, b)

10 20

In [12]:
PI = 3.14
r = 10
s = PI * r * r
str = "원의 넓이"
print(str, s)

원의 넓이 314.0

In [13]:
area = width * height
print(area)

NameError: name 'width' is not defined

In [14]:
width = 5
height = 10
area = width * height
print(area)

50

In [15]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
x = 100
x += 10
x += 20
x += 30
print("x =", x)

x = 160

In [17]:
string = "안녕하세요"
string += "!"
string += "!"
print(string)
string *= 3
print(string)

안녕하세요!!
안녕하세요!!안녕하세요!!안녕하세요!!

In [18]:
# 키보드로 입력받기
name = input("당신의 이름을 입력하세요>>")
age = input("당신의 나이를 입력하세요>>")
print("이름 :", name, "나이 :", age)

당신의 이름을 입력하세요>>홍길동
당신의 나이를 입력하세요>>20
이름 : 홍길동 나이 : 20

In [20]:
print(type(age))

<class 'str'>

In [23]:
age = input("나이를 입력하세요 >>")
print("당신은 10년 뒤", age + 10, "살 입니다.")

나이를 입력하세요 >>10

TypeError: can only concatenate str (not "int") to str

In [24]:
a = 10.3
b = 5
print(int(a) + b)
print(float(b))

15
5.0

In [25]:
a = 123
b = 456.789
print(a+b)
print(str(a) + str(b))

579.789

TypeError: 'str' object is not callable

In [26]:
age = int(input("나이를 입력하세요 >>"))
print("당신은 10년 뒤", age + 10, "살 입니다.")

나이를 입력하세요 >>25
당신은 10년 뒤 35 살 입니다.

In [27]:
int("안녕하세요")
float("Hello")

ValueError: invalid literal for int() with base 10: '안녕하세요'

In [28]:
int(12.345)
int("12.345")

ValueError: invalid literal for int() with base 10: '12.345'

In [29]:
PI = 3.14
radius = float(input("원의 반지름을 입력하시오 >> "))
perimeter = 2 * PI * radius
area = PI * radius * radius
print("원의 둘레 : ", perimeter)
print("원의 면적 : ", area)

원의 반지름을 입력하시오 >> 5
원의 둘레 :  31.400000000000002
원의 면적 :  78.5