In [ ]:
# 디지털헬스프로그래밍
# 2025010111 고려대
list1 = [1, 2, 3, 4, 5]
print(list1)
list2 = ['a', 'b', 'c']
print(list2)
list3 = [1, 3.14, 'a', 'python', True, [1,2,3,4,5], ['Hello', 'World!']]
print(list3)

In [ ]:
list_a = [10, 3.14, 'python', True, False, [1, 2, 3], ['a', 'b', 'c']]
print(list_a[1])
print(list_a[2:4])
print(list_a[:3])
print(list_a[5:])
list_a[4] = 50
print(list_a)

In [ ]:
list = [1, 3.14, 'a', 'python', True, [1,2,3,4,5], ['Hello', 'World!']]
print(list[3:6])

In [ ]:
city = 'seoul'
print(city)
print(city[::2])
print(city[::3])
print(city[::-1])
cities = ['서울', '부산', '인천', '대구', '광주', '울산']
print(cities)
print(cities[::2])
print(cities[::3])
print(cities[::-1])

In [ ]:
navi_voices = ['', '잠시 후', '어린이 보호', '좌회전', '우회전', '직진', '유턴', '단속', '구역', '입니다.', '하십시오.', '100m']
navi_agent = 'u_turn'

if navi_agent == 'left_turn':
    print(navi_voices[1], navi_voices[3], navi_voices[10])
elif navi_agent == 'right_turn':
    print(navi_voices[1], navi_voices[4], navi_voices[10])
elif navi_agent == 'u_turn':
    print(navi_voices[1], navi_voices[6], navi_voices[10])
elif navi_agent == 'school':
    print(navi_voices[1], navi_voices[2], navi_voices[8], navi_voices[9])

In [ ]:
cities1 = ['서울', '인천', '수원']
cities2 = ['부산', '대전', '대구', '광주', '울산']
print(cities1 + cities2)
print(cities1[0:1] + cities2[2:4])
cites3 = cities1 + cities2
print(cites3)
print(cites3[1:5])

In [ ]:
fruits = ['사과', '바나나', '망고', '딸기']
print(fruits * 2)
print(fruits[1:3] * 3)
print('딸기' in fruits)
print('포도' in fruits)

In [ ]:
fruits = ['사과', '바나나', '망고', '딸기']
fruits.append('포도')
print(fruits)
fruits.extend(['배', '감'])
print(fruits)
fruits.insert(1,"밤")
print(fruits)
fruits.remove('딸기')
print(fruits)
del fruits[0]
print(fruits)

In [ ]:
print(fruits)
fruits.pop(2)
print(fruits)
fruits.sort()
print(fruits)
print('멜론' not in fruits)
print('포도' not in fruits)
fruits.clear()
print(fruits)

In [ ]:
kor = [56, 67, 88]
eng = [45, 76, 77]
total = [kor, eng]
print(total)
print(total[0][0])
print(total[1][2])
total[1][1] = 100
print(total)
print(eng)

In [ ]:
math = [40, 93, 57, 31, 85, 72, 64]
math.sort()
print("수학 점수 정렬:", math)
print("응시 인원:", len(math))
print("수학 총점:", sum(math))
math_avg = sum(math)/len(math)
print("수학 평균: ", math_avg)

In [ ]:
print("kor[0]주소: ", id(kor[0]))
print("kor[1]주소: ", id(kor[1]))
print("kor[2]주소: ", id(kor[2]))
print("---------------")
print("eng[0]주소: ", id(eng[0]))
print("eng[1]주소: ", id(eng[1]))
print("eng[2]주소: ", id(eng[2]))
print("---------------")
print("total[0][0]주소: ", id(total[0][0]))
print("total[1][0]주소: ",id(total[1][0]))

In [ ]:
a = [1, 2, 3, 4]
b = [*a, *a]
print(b)
c = [*b, 5]
print(c)
print(a)

In [ ]:
# 리스트 문제1

In [ ]:
kor = (56, 67, 88)
eng = (45, 76, 77)
total = (kor, eng)
print(total)
print(total[0][0])
print(total[1][2])
total[1][1] = 100
print(total)

In [ ]:
tel_info = {'홍길동': '010-1111-2222',
           '이순신': '010-2222-2222',
           '장보고': '010-3333-3333'}
print(tel_info)
print(tel_info['이순신'])
# 딕셔너리 값 수정 및 데이터 추가
tel_info['이순신'] = '010-1234-5678'
print(tel_info['이순신'])
tel_info['김유신'] = '010-5555-5555'
print(tel_info)

In [ ]:
student = {
    'name': "홍길동",
    'id': 2024111222,
    'dept': "의료정보학과",
    'GPA': 3.8
}
print('name:', student['name'])
student['GPA'] = 4.1
print(student)
student['age'] = 21
print(student)

In [ ]:
error = {
    name : "홍길동",
    id : 2024111222
}
print(error)

In [ ]:
print(tel_info.keys())    # 키만 확인
print(tel_info.values())  # 값만 확인
print(tel_info.items())  # 키-값만 확인
print(student.keys())
print(student.values())
print(student.items())
print('장보고' in tel_info.keys())
print('010-3333-3333' in tel_info.values())
del tel_info['홍길동']
print(tel_info)

In [ ]:
# 딕셔너리 문제2

In [ ]:
# 딕셔너리 문제3

In [ ]:
# 딕셔너리 문제3-1

In [ ]:
# 딕셔너리 문제3-2

In [ ]:
str = 'Korea'
for i in str:
    print(i)

In [ ]:
for i in 'Korea':
    print(i)

In [ ]:
for i in ['a', 'b', 1, 2, 'Korea']:
    print(i)

In [ ]:
str = 'Korea'
for i in [1, 2, 3, 4, 5]:
    print(str)

In [ ]:
list = [1, 2, 3, 4, 5]
for i in list:
    print('*' * i)

In [ ]:
for i in range(100):
    print(i)

In [ ]:
for i in range(0, 100, 10):
    print(i)

In [ ]:
for i in range(0, 10):
    print(i)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(9, 0, -1):
    print('9 * %d = %d'%(i, 9*i))

In [ ]:
sum = 0
for i in range(1, 101, 2):
    sum +=i
print(sum)

In [ ]:
for i in range(1, 10):
    print('2 * %d = %2d'%(i, i*2))

In [ ]:
for i in range(0, 6):
    print('*' * i)

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print('%d * %d = %2d'%(i, j, i*j))

In [ ]:
for i in range(1, 6):
    for j in range(5-i):
        print(' ', end='')
    for k in range(2*i-1):
        print('*', end='')
    print()

In [ ]:
# 반복문 문제1

In [ ]:
count = 1
while count < 10:
    print(count)
    count +=1

In [ ]:
for i in range(10):
    print(i)

In [ ]:
i = 0
while i < 10:
    print(i)
    i+=1

In [ ]:
for i in [1, 2, 3, 4, 5]:
    if i==5:
        break
    print(i)

In [ ]:
i=1
while i<=5:
    if i==5:
        break
    print(i)
    i+=1

In [ ]:
for i in range(5):
    print(i)
else:
    print('반복문이 종료되었습니다.')

In [ ]:
for i in range(5):
    if i>=4:
        break
    else:
        print(i)
else:
    print('반복문이 종료되었습니다.')

In [ ]:
# 반복문 문제3

In [ ]:
# 반복문 문제3