In [ ]:
import random

SIZE = 5
pyList = [[random.randint(0,100) for _ in range(SIZE)] for _ in range(SIZE)]

for i in range(SIZE):
    for j in range(SIZE):
        print("%3d" % pyList[i][j], end=' ')
    print()
print()

for i in range(SIZE):
    for j in range(SIZE):
        pyList[i][j] += 100
        print("%3d" % pyList[i][j], end=' ')
    print()

In [ ]:
import numpy as np

## 넘파이 2차원 배열 생성
SIZE = 5
numpyAry = np.random.randint(0, 100, size=(SIZE, SIZE))
print(numpyAry)
print()

## 배열에 100을 더하기
numpyAry += 100
print(numpyAry)

In [ ]:
import numpy as np
ary = np.random.randint(0, 255, size=(2, 3))
ary

In [ ]:
import numpy as np
arr = np.random.randint(0, 255, size=(2, 3))
print(arr.dtype)
print(arr.ndim)
arr.shape

In [ ]:
import numpy as np
arr1 = np.array([[1,2],[3,4]])
print(arr1)
arr1+100

In [ ]:
import numpy as np
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2)
arr2*3

In [ ]:
import numpy as np
ary = np.arange(10)
print(ary)
ary[0] = 100
print(ary)
ary_sub1 = ary[3:7]
print(ary_sub1)
ary[7:] = 10
print(ary)

In [ ]:
import numpy as np
ary3 = np.random.randint(0, 10, size=(3,3))
print(ary3)
print(ary3.sum())
print(ary3.sum(axis=0))
print(ary3.sum(axis=1))

In [ ]:
import numpy as np
ary4 = np.random.randint(0, 100, size=10)
print(ary4)
print(np.sort(ary4))
print(np.sum(ary4))
print(np.max(ary4))
print(np.min(ary4))
print(np.mean(ary4))
print((ary4<30).sum()) # 값이 30보다 작은 항목의 개수

In [ ]:
import pandas as pd
data = {'이름':['박두칠','김산','강성민','주여진','안기철'],
        '나이':[50, 30, 40, 30, 60],
        '혈액형':['O','A','B','AB','A']}
df = pd.DataFrame(data)
df

In [ ]:
df2 = pd.DataFrame(data, index=['하나','둘','셋','넷','다섯'])
print(df2)
print(df2.index)
print(df2.columns)

In [ ]:
st_two=df2.loc[['둘','넷']]
print(st_two)
print(df2.loc['하나']['이름'])
print(df2.loc['하나','이름'])
print(df2.iloc[2][0])
print(df2.iloc[2,0])

In [ ]:
st_name = df2['이름']
print(st_name)
st_name.name = 'Name'
st_name

In [ ]:
df2['키']  = [178, 175, 175, 165, 168]
df2

In [ ]:
df2.insert(2, '학력', ['고졸', '박사', '대졸', '대졸', '중졸'])
df2

In [ ]:
df2.loc['여섯'] = ['정한민', 30, '박사', 'B', '180']
df2

In [ ]:
df2 = df2.drop('키', axis=1)
df2 = df2.drop('여섯', axis=0)
df2

# 시각화 실습

In [ ]:
import matplotlib.pyplot as plt
xdata = [1, 2, 3, 4]
ydata = [5, 6, 7, 8]
plt.plot(xdata, ydata)
plt.show()

In [ ]:
plt.rc('font', family='NanumBarunGothic')

import matplotlib.pyplot as plt
plt.title('선 그래프 만들기')
data1 = [2, 3, 4, 5]
data2 = [4, 3, 2, 1]
plt.plot(data1, label='증가')
plt.plot(data2, label='감소')
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.title('선 그래프 만들기')
data1 = [2, 3, 4, 5]
data2 = [4, 3, 2, 1]
plt.plot(data1, label='Dotted', color='red', linestyle=':')
plt.plot(data2, label='Dashed', color='blue', linestyle='--')
plt.xlabel('X data')
plt.ylabel('Y data')
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.title('X & Y 범위')
xdata = [10, 20, 30, 40]
ydata = [-2, 1, 4, 8]
plt.plot(xdata, ydata, color='g', linestyle='-.', marker='^', markersize=10)
plt.xlim(0, 50)
plt.ylim(-5, 10)
plt.show()

In [ ]:
pip install openpyxl

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_excel('AirKorea-PM.xlsx', index_col='area')
data2019 = data[2019]
data2019

In [ ]:
plt.figure(figsize=(15,4))
plt.plot(data2019, color='b', marker='o')
plt.xlabel('지역')
plt.ylabel('미세먼지 농도')
plt.title('2019년 미세먼지 농도 ')
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(15,4))

for year in range(2015, 2020):
    chartdata = data[year]
    plt.plot(chartdata, marker='o', label=year)
plt.xlabel('지역')
plt.ylabel('미세먼지 농도')
plt.title('2015년 ~ 2019년 미세먼지 농도')
plt.legend()
plt.grid()
plt.show()

In [ ]:
data2018 = data[2018]
plt.figure(figsize=(15,4))
plt.bar(data2018.index, data2018, color='m')
plt.ylim(20,50)
plt.xlabel('지역')
plt.ylabel('미세먼지 농도')
plt.title('2018년 미세먼지 막대 그래프')
plt.grid()
plt.show()

In [ ]:
import numpy as np
index = np.arange(4)
data = pd.read_excel('AirKorea-PM.xlsx', index_col='area')
plt.figure(figsize=(15,4))
data4 = data.loc['Seoul':'Busan', 2016:2019]
for year in range(2016, 2020):
    chartdata = data4[year]
    plt.bar(index, chartdata, width=0.2, label=year)
    index = index + 0.2
plt.ylim(20,55)
plt.xlabel('지역')
plt.ylabel('미세먼지 농도')
plt.xticks(index-0.5, ['Seoul', 'Gyeonggi', 'Incheon', 'Busan'])
plt.title('2016년 ~ 2019년 미세먼지 농도')
plt.legend()
plt.grid()
plt.show()

In [ ]:
index = np.arange(4)
plt.figure(figsize=(10,4))
data4 = data.loc['Seoul':'Busan', 2016:2019]
for year in range(2016, 2020):
    chartdata = data4[year]
    plt.barh(index, chartdata, label=year)
plt.xlim(30,55)
plt.ylabel('지역')
plt.xlabel('미세먼지 농도')
plt.yticks(index, ['서울', '경기', '인천', '부산'])
plt.title('2016년 ~ 2019년 미세먼지 누적 농도')
plt.legend()
plt.show()