In [ ]:
print("난생처음 파이썬")

난생처음 파이썬

In [ ]:
num = int("1234")
print(num)

1234

In [ ]:
def output():
    print("=====================")
    print("안녕하세요. 반갑습니다.")
    print("=====================")

output()
output()
output()

=====================
안녕하세요. 반갑습니다.
=====================
=====================
안녕하세요. 반갑습니다.
=====================
=====================
안녕하세요. 반갑습니다.
=====================

In [ ]:
def n_times_print(value, n):
    for i in range(n):
        print(value)

n_times_print("안녕하세요!", 5)

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [ ]:
n_times_print("반갑습니다!", 3, 10)

TypeError: n_times_print() takes 2 positional arguments but 3 were given

In [ ]:
def print_var(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_var(3, "안녕하세요!", "반갑습니다!")

안녕하세요!
반갑습니다!

안녕하세요!
반갑습니다!

안녕하세요!
반갑습니다!

In [ ]:
def print_default(value, n=2):
    for i in range(n):
        print(value)

print_default("안녕하세요!")
print_default("안녕하세요!반갑습니다!", 3)

안녕하세요!
안녕하세요!
안녕하세요!반갑습니다!
안녕하세요!반갑습니다!
안녕하세요!반갑습니다!

In [ ]:
def return_test():
    print("A 위치 실행 확인")
    return
    print("B 위치 실행 확인")

return_test()

A 위치 실행 확인

In [ ]:
def return_test():
    print("반환값 확인하기")
    return 500

value = return_test()
print(value)

반환값 확인하기
500

In [ ]:
# 실습문제 1

첫번째 정수를 입력하세요>5
두번째 정수를 입력하세요>12
두 수의 합: 17

In [ ]:
def two_return(x, y):
    res1 = x + y
    res2 = x * y
    return res1, res2

sol1, sol2 = two_return(5, 3)
print("결과값", sol1, sol2)

결과값 8 15

In [ ]:
def sum(start, end):
    total = 0
    for i in range(start, end+1):
        total += i
    return total

print("20부터 80까지 합:", sum(20, 80))

20부터 80까지 합: 3050

In [ ]:
# 실습문제 2

첫번째 정수를 입력하세요>21
두번째 정수를 입력하세요>7
연산자 입력하세요(+, -, *, /)>*

NameError: name 'res' is not defined

In [1]:
def multi_operator(v1, v2):
    result_list = []
    add = v1 + v2
    sub = v1 - v2
    mul = v1 * v2
    div = v1 / v2
    result_list.append(add)
    result_list.append(sub)
    result_list.append(mul)
    result_list.append(div)
    return result_list

input_a = int(input('첫 번째 수를 입력하시오 > '))
input_b = int(input('두 번째 수를 입력하시오 > '))
result = multi_operator(input_a, input_b)
print(result)

두 번째 수를 입력하시오 > 10
[20, 0, 100, 1.0]

In [2]:
def sum(s, t):
    result1 = 0
    result1 = s + t
    return result1

res = sum(10, 5)
print(s, t, res)

NameError: name 's' is not defined

In [3]:
def test1():
    a = 5
    print(a)

def test2():
    a = 10
    print(a)

test1()
test2()

a = 20
print(a)

5
10
20

In [4]:
def sum(s, t):
    result1 = 0
    result1 = s + t
    return result1

s = 10
t = 5
result1 = sum(s, t)
print(s, t, result1)

10 5 15

In [5]:
def function_a():
    a = 10
    print('function_a :', a)

def function_b():
    global a    # 전역변수 a변수를 사용하겠다고 선언
    print(a)
    a = 20
    print('function_b :', a)

a = 30
function_a()    # 10
function_b()    # 20
function_a()    # 10
print('main a:', a) # 20

function_a : 10
30
function_b : 20
function_a : 10
main a: 20

In [ ]:
# 실습문제 3

In [6]:
# 실습문제 4

새로운 비밀번호를 입력하세요 :hello
오류! 비밀번호가 규칙에 맞지 않습니다

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print("1!:", factorial(1))
print("2!:", factorial(2))
print("3!:", factorial(3))
print("4!:", factorial(4))
print("5!:", factorial(5))

In [7]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)

print("1!:", fact(1))
print("2!:", fact(2))
print("3!:", fact(3))
print("4!:", fact(4))
print("5!:", fact(5))

1!: 1
2!: 2
3!: 6
4!: 24
5!: 120

In [8]:
# 실습문제 5

fibonacci(1): 1
fibonacci(2): 1
fibonacci(3): 2
fibonacci(4): 3
fibonacci(5): 5

In [9]:
def my_add(x, y):
    return x+y

sum = my_add(2, 5)
print(sum)

7

In [10]:
my_sum = lambda x, y:x+y
print(my_sum(2, 3))

5

In [11]:
original_list = ['2', '4', '6', '8', '10', '12']
new_int_list = list(map(int, original_list))
print(new_int_list)

[2, 4, 6, 8, 10, 12]

In [12]:
scores = input('3과목의 점수를 입력 하시오 > ').split()
print(scores)
print(list(map(int, scores)))

3과목의 점수를 입력 하시오 > 50 70 95
['50', '70', '95']
[50, 70, 95]

In [13]:
f = lambda x:x**2
x = [1,2,3,4,5]
print(list(map(f, x)))

[1, 4, 9, 16, 25]

In [14]:
f = lambda x, y:x*x+y
X = [1, 2, 3, 4, 5]
Y = [10, 9, 8, 7, 6]
result = list(map(f, X, Y))
print(result)

[11, 13, 17, 23, 31]

In [15]:
scores = input('3과목의 점수를 입력 하시오 > ').split()
print(scores)

3과목의 점수를 입력 하시오 > 50
['50']

In [16]:
date = '1985.02.15'
new_date = date.split('.')
print(new_date)
print('year: ', new_date[0])
print('month: ', new_date[1])
print('day : ', new_date[2])

['1985', '02', '15']
year:  1985
month:  02
day :  15

In [18]:
f = open('alice.txt')
print(f.read())
f.close()

ALICE'S ADVENTURES IN WONDERLAND
Lewis Carroll
THE MILLENNIUM FULCRUM EDITION 3.0
CHAPTER I Down the Rabbit-Hole
Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, `and what is the use of a book,' thought Alice `without pictures or conversation?'

In [19]:
memo = input('저장할 내용을 입력해 주세요>')
f = open('memo.txt', 'w')
f.write(memo)
f.close()

저장할 내용을 입력해 주세요>Hello World

In [20]:
memo = input('저장할 내용을 입력해 주세요>')
f = open('memo.txt', 'w', encoding='utf8')
f.write(memo)
f.close()

저장할 내용을 입력해 주세요>안녕하세요!

In [21]:
f = open('alice.txt', 'r')
book = f.read()
word_list = book.split(' ')
line_list = book.split('\n')
f.close()
print('총 글자:', len(book))
print('총 단어:', len(word_list))
print('총 라인:', len(line_list))

총 글자: 420
총 단어: 74
총 라인: 6

In [22]:
import math
print(dir(math))
print("===================")
print(math.sqrt(2))
print(math.pi)
print(math.factorial(5))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
===================
1.4142135623730951
3.141592653589793
120

In [23]:
from math import sin, gcd
print(sin(1.57))
print(gcd(25, 5))

0.9999996829318346
5

In [24]:
import time
import datetime
print(time.time())  # 유닉스 시간
print(datetime.datetime.now()) # 현재 서버 시간
print(time.ctime()) #요일 월 일 시간 년도
print('오늘은 {}월 {}일 입니다. 화이팅~!'.format(time.localtime().tm_mon, time.localtime().tm_mday))
print('지금 시각은 {}시 {}분 입니다.'.format(time.localtime().tm_hour, time.localtime().tm_min))

1743481544.875351
2025-04-01 04:25:44.875491
Tue Apr  1 04:25:44 2025
오늘은 4월 1일 입니다. 화이팅~!
지금 시각은 4시 25분 입니다.

In [25]:
import random
for i in range(5):
    print(random.random())

0.16843958099972722
0.07944202976138492
0.9842025822959842
0.6641570483846785
0.7746603664515828

In [26]:
import random
for i in range(10):
    print(random.randint(1, 10))

3
2
7
3
4
1
5
4
3
1

In [27]:
import random
menu = ['라면','학식', '피자', '햄버거', '피자', '떡볶이', '도시락']
print('오늘은', random.choice(menu), '추천합니다')
print(random.sample(menu, 2))

오늘은 도시락 추천합니다
['라면', '피자']

In [40]:
# prompt: pip install

!pip install yt-dlp

Collecting yt-dlp
  Downloading yt_dlp-2025.3.31-py3-none-any.whl.metadata (172 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.2/172.2 kB 3.9 MB/s eta 0:00:00
Downloading yt_dlp-2025.3.31-py3-none-any.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 49.7 MB/s eta 0:00:00
Installing collected packages: yt-dlp
Successfully installed yt-dlp-2025.3.31

In [41]:
import yt_dlp

def download_with_ytdlp(url, path):
    ydl_opts = {
        'outtmpl': f'{path}/%(title)s.%(ext)s',
        'format': 'bestvideo+bestaudio/best',
        'merge_output_format': 'mp4'
    }
    with yt_dlp.YoutubeDL(ydl_opts) as ydl:
        ydl.download([url])

video_url = 'https://www.youtube.com/watch?v=MezvFK_r-MI'
download_with_ytdlp(video_url, 'videos')

[youtube] Extracting URL: https://www.youtube.com/watch?v=MezvFK_r-MI
[youtube] MezvFK_r-MI: Downloading webpage
[youtube] MezvFK_r-MI: Downloading tv client config
[youtube] MezvFK_r-MI: Downloading player 8a8ac953-main
[youtube] MezvFK_r-MI: Downloading tv player API JSON
[youtube] MezvFK_r-MI: Downloading ios player API JSON
[youtube] MezvFK_r-MI: Downloading m3u8 information
[info] MezvFK_r-MI: Downloading 1 format(s): 401+251
[download] Destination: videos/나는 반딧불 - 황가람.f401.mp4
[download] 100% of   99.17MiB in 00:00:02 at 38.51MiB/s
[download] Destination: videos/나는 반딧불 - 황가람.f251.webm
[download] 100% of    4.07MiB in 00:00:00 at 20.01MiB/s
[Merger] Merging formats into "videos/나는 반딧불 - 황가람.mp4"
Deleting original file videos/나는 반딧불 - 황가람.f401.mp4 (pass -k to keep)
Deleting original file videos/나는 반딧불 - 황가람.f251.webm (pass -k to keep)

In [ ]:
# 실습문제 6